body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  font-size: small;
}

.p2 {
  line-height: 30px;   
  margin-bottom: 25px;
  text-indent: 50px;
  }

.j-card {
  margin: 0px;
}

.j-card-image {
  border-radius: 10px;
  width: 300px;
  height: 420px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.j-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.j-card-title {
  font-size: 24px;
  margin: 0px;
}

.j-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.j-dot:before {
  content: "• ";
}

.success-msg {
  color: #57A773;
  padding: 10px 15px;
}

.err-msg {
  color: #EE6352;
  padding: 10px 15px;
}

.start .Photo {
  z-index:-1;
  position: absolute;
  background-position: 10%;
  width: 425px;
  height: 635px;
  top: 0%;
  right: 22%;
  opacity: 0.3;
  margin: -200px;
}

.p-card {
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.p-card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.p-fluid {
  width: 33px;
  height: 33px;
  position: relative;
  margin-left: 10%;
  margin-top: -5%;

}.p-fluid2 {
  width: 40px;
  height: 35px;
  position: relative;
  margin-left: 2%;
  margin-top: -5%;
}

@media(max-width: 414px) {
  .footer {
    font-size: xx-small;
  }
}
