body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1.title {
  font-display: 6;
}

.footer {
  font-size: small;
}

.p2 {
  line-height: 30px;
  text-indent: 5%;
  text-align: justify;
  }

.j-card {
  margin: 0px;
}

.j-card-image {
  border-radius: 10px;
  width: 300px;
  height: 420px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.j-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.j-card-title {
  font-size: 22px;
  margin: 0px;
}

.j-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.success-msg {
  color: #57A773;
  padding: 10px 15px;
}

.err-msg {
  color: #EE6352;
  padding: 10px 15px;
}

div.self-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

img.Photo {
  position: fixed;
  z-index: -1;
  top:0;
  opacity: 0.3;
  padding-left: 10%;
  z-index: -1;
  width: 980px;
}

.p-card {
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.p-card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.p-fluid {
  width: 33px;
  height: 33px;
  position: relative;
  margin-left: 10%;
  margin-top: -5%;
  
}.p-fluid2 {
  width: 40px;
  height: 35px;
  position: relative;
  margin-left: 2%;
  margin-top: -5%;
}

@media(max-width: 414px) {
  .footer {
    font-size: xx-small;
  }
  
  h1 {
    font-size: 4rem !important;
  }
  
  h2 {
    font-size: 2rem !important;
  }
  img.Photo {
    zoom: 0.6;
  }
  
  
  .p-card {
    will-change: transform;
  border: 8px solid transparent;
  width: 156px;
  }

  .j-card-image {
  width: 140px;
  height: 220px;
  box-shadow: 0px 0px 3px 1px #ccc;
  }
}
